In [1]:
##Assignment-1
##Q1)
# (i) String
my_string = "Hello, World"

# (ii) list
my_list = [1, 2, 3, 4, 5]

# (iii) Float
my_float = 3.14

# (iv) Tuple
my_tuple = (6, 7, 8, 9, 10)

In [ ]:
##Q2)
var1 is a string.
var2 is a string.
var3 is a list.
var4 is an integer.

In [ ]:
##Q3)
a = 10
b = 3
result = a / b
print(result)
output is '3.3333333333333335'
a = 10
b = 3
result = a % b
print(result)
output is '1'
a = 10
b = 3
result = a // b
print(result)
output is '3'
a = 2
b = 3
result = a ** b
print(result)
output is '8'

In [3]:
##Q4)
mydata = [9, 'banana', 5.60, False, [5, 9, 0], {'name': 'indra'}, "deep", "apple", False, (11, 55, 16)]

for con in mydata:
    print(con, type(con))

9 <class 'int'>
banana <class 'str'>
5.6 <class 'float'>
False <class 'bool'>
[5, 9, 0] <class 'list'>
{'name': 'indra'} <class 'dict'>
deep <class 'str'>
apple <class 'str'>
False <class 'bool'>
(11, 55, 16) <class 'tuple'>

In [ ]:
##Q5)
D = 25
K = 5
count = 0

while D % K == 0:
    D /= K
    count=count+1

print("Number of times A is divisible by B:", count)

In [ ]:
##Q6)
mycon = [6, 10, 11, 3, 9, 13, 215, 266, 99, 106, 133, 77, 213, 420, 624, 30, 51, 15, 8, 11, 21, 117, 202, 250, 27]

for div in mycon:
    if div % 3 == 0:
        print(div, "is divisible by 3")
    else:
        print(div, "is not divisible by 3")

In [ ]:
6 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
3 is divisible by 3
9 is divisible by 3
13 is not divisible by 3
215 is not divisible by 3
266 is not divisible by 3
99 is divisible by 3
106 is not divisible by 3
133 is not divisible by 3
77 is not divisible by 3
213 is divisible by 3
420 is divisible by 3
624 is divisible by 3
30 is divisible by 3
51 is divisible by 3
15 is divisible by 3
8 is not divisible by 3
11 is not divisible by 3
21 is divisible by 3
117 is divisible by 3
202 is not divisible by 3
250 is not divisible by 3
27 is divisible by 3

In [ ]:
##Q7)
str1 = "indranil"
str2 = str1
str1 = str1+"saha"
print(str1)  # Output: "indranilsaha"
print(str2)  # Output: "indranil"
##this is Immutable data types cannot change
list1 = [5, 6, 7]
list2 = list1
list1.append(4)
print(list1)  # Output: [5, 6, 7, 4]
print(list2)  # Output:[5, 6, 7, 4]
##this is mutable data types this is change